.admin-dashboard {
  position: absolute;
  width: 100%;
  padding-top: 110px;
  top: 0;
  min-height: 100vh;
  background-color: #bcfd4c;
}

.dashboard-header {
  text-align: center;
  margin-bottom: 50px;
  font-size: 4rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.analytics-container {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.admin-dashboard-body {
  transform: translateX(4%);
  justify-items: center;
}

.admin-dashboard-main {
  transform: scale(.82) translateX(80px) translateY(-180px);
}

.admin-classes-view > .admin-dashboard-body > .admin-dashboard-main {
  transform: scale(0.72) translateX(80px) translateY(-220px);
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.568) 0px 5px 100px;
}

.admin-classes-view > .admin-dashboard-body > .admin-dashboard-main > div {
  border-radius: 5%;
  border: 20px solid #6e6e6e;
}
