.classes-wrapper {
  background-color: #16181b;
}
.alert-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  pointer-events: none;
}

.alert-wrapper {
  pointer-events: auto;
}
/* Make the calendar fill the screen under your page header/navbar.
   Adjust the 170px if your header+page title is taller/shorter. */
/* .classes-calendar-wrapper {
  height: calc(100vh - 170px);
} */

/* Let FullCalendar fully occupy the wrapper height */
/* .fc .fc-view-harness {
  height: 100% !important;
} */
