@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Michroma&display=swap');

.homepage-banner {
  display: flex;
  flex-direction: column;
  position: absolute;
  color: #acff1d;
  padding-bottom: 20px;
  margin: 380px 450px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.homepage-banner h2 {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  -webkit-text-stroke: 1px rgb(0, 0, 0);
  margin-bottom: 0;
}

.homepage-banner h3 {
  margin: 0px 10px 22px 10px;
  font-weight: 800;
  color: whitesmoke;
  -webkit-text-stroke: 1.5px rgb(0, 0, 0);
}

.login-container {
  z-index: 1;
  position: relative;
  color: #2e2e2e;
  font-weight: 800;
  width: 330px;
  margin-left: 50px;
}

.login-container button:first-child:hover {
  background-color: #c3c5c0;
}

.login-container #submit-button {
  margin-left: 105px
}

.homepage-banner div {
  z-index: 1;
  position: relative;
  background-color: rgb(231, 234, 234);
}

.homepage video {
  width: 100%;
}

.feature-panel {
  display: flex;
  flex-direction: row;
  padding: 50px 75px;
  gap: 65px;
  text-align: center;
}

.feature-panel img {
  width: 400px;
  height: 350px;
  object-fit: cover;
  border-radius: 5%;
}
