.metric-layout {
  width: 90%;
  padding: 40px;
  background-color: white;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.568) 0px 5px 100px;
  display: grid;
  row-gap: 10px;
  column-gap: 90px;
  justify-content: center;
  grid-template-areas:
    "header header"
    "none ."
    "main sidebar";
}

.metric-title {
  grid-area: header;
  justify-self: center;
}

.time-period-buttons {
  display: flex;
  justify-self: start;
  column-gap: 10px;
  margin: 10px 70px 0px 70px;
}

.time-period-buttons input {
  text-align: center;
}

.invalid-year {
  width: 350px;
  border-radius: 5%;
  text-align: center;
  align-content: center;
  background-color: rgb(255, 209, 209);
  border: 1px solid red;
  color: red;
}

.no-data-alert {
  width: 350px;
  border-radius: 5%;
  text-align: center;
  align-content: center;
  background-color: rgb(255, 209, 209);
  border: 1px solid red;
  color: red;
}

.graph {
  margin: auto 0;
  justify-self: stretch;
  grid-area: main;
  height: 400px;
  width: 900px;
}

.metric-card {
  grid-area: sidebar;
}

.metric-card > div {
  width: 500px;
}

.comparison-table {
  width: 100%;
  padding: 20px;
  background-color: white;
  border-radius: 5%;
  box-shadow: rgba(0, 0, 0, 0.568) 0px 5px 10px;
  text-align: center;
  justify-items: stretch;
}

.comparison-table th {
  padding: 0 15px;
}
